
* {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto Condensed', sans-serif;  
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    background: #fff;
    padding: 0 15px;
}

.header {
    
}
.info {
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    left: 20px;
    top: 0px;
    right: 20px;
}
.fio {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 70px;
    width: 400px;
    font-weight: bold;
    color: #fff;
    opacity: 0.8;
}
.profile {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    color: #fff;
}
.foto {
    position: relative;
}
.foto img {
    width: 100%;
    border-radius: 0 0 25px 25px;
}

.about__me {
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 400px;
}
.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;    
}
.po {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    flex: 0 1 25%;
    width: 100%;
}
.po__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 30px;
}
.po__icon {
    
}
.po__raiting img{
    width: 100px;
}
.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.work {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}
.work img {
    width: 100%;
}
.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contacts p {
    width: 250px;
    text-align: center;
}
.message {
    margin: 30px;
}
.social {
    width: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px;
}
@media (max-width:1200px){
    .container {
        max-width: 970px;
    }
}
@media (max-width:992px){
    .container {
        max-width: 750px;
    }
}
@media (max-width:767px){
    .container {
        max-width: none;
    }
    .po {
        display: flex;
        flex-direction: column;
    }
    .info {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-between;
        padding: 0;
        position: absolute;
        left: 10px;
        top: 0px;
        right: 0px;
    }
    .fio {
        font-size: 20px;
        line-height: 1em;
    }
    .profile {
        font-size: 10px;
        line-height: 1em;
    }
    .po__item {
        margin-bottom: 25px;
    }
}